$primary-color: #328295;
$secondary-color: #E3F6F5;
$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: 'Gaegu', cursive;

/* import serve per includere dentro un css un altro css */
@import './base.css';
@import 'bootstrap';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: $font-family-primary;
}

h1 {
  color: $primary-color;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  color: $primary-color;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: -0.4rem;
}

h3 {
  font-family: $font-family-secondary;
  font-size: 2rem;
}

ul li {
  display: inline-block;
  margin-right: 3%;
}

ul li:last-child {
  margin-right: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
}

#circle {
  background-color: $primary-color;
}

#small {
  background-color: $secondary-color;
}

#searchButton {
  background-color: $secondary-color;
}

input {
  border-color: $primary-color;
  border-width: 2px;
  border-style: solid;
  border-radius: 0 20px 0 20px;
  outline-color: #133041;
}



@media (hover: hover) {
  a:hover {
    color: #133041;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
